.detailsContainer {
  display: flex;
}

.details{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.rightColumn {
  border-width: 5px;
  border: solid;
  border-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
  flex: 2;
}

.innerLeftColumn {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.innerRightColumn {
  align-content: center;
  flex: 1;
}

.circleDivision {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonAbilitiesContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pokemonAbilityContainer {
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: rgb(182, 238, 238);
  padding: 5px;
}

.pokemonAbilities {
  font-size: small;
}

.pokemonLevel {
  font-weight: bold;
  font-size: medium;
}

.constantLevel {
  font-weight: lighter;
  font-size: x-small;
  color: rgb(149, 223, 149);
}

.pokemonImage {
  width: 300px;
}

.pokemonName{
    font-size: x-large;
    font-weight: bolder;
}

.type{
    font-size: large;
    font-weight: bold;
}

.pokemonWeaknessContainer{
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 20px;
}

.pokemonWeaknessesHeader{
  font-size: large;
  font-weight: bolder;
}

.pokemonWeaknessesList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.pokemonWeaknesses{
  padding: 5px;
  border-radius: 15%;
}

.pokemonThreatList{
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.pokemonThreat{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.pokemonThreatImg{
  width: 100px;
}

