.pokemon {
  font-size: medium;
}

.conatainer {
  border-width: 10px;
  border: solid;
  border-color: aliceblue;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  gap: 10px;
  /* flex-direction: column; */
}

.leftColumn {
  border-width: 5px;
  border: solid;
  border-color: white;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
}

.rightColumn {
  border-width: 5px;
  border: solid;
  border-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
  flex: 2;
}

.innerLeftColumn {
  /* border-width: 3px;
  border: solid;
  border-color: white; */
  flex: 3;
  align-content: center;
}

.innerRightColumn {
  /* border-width: 3px;
  border: solid;
  border-color: white; */
  /* border-radius: 60%; */
  align-content: center;
  flex: 1;
}

.circleDivision {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  border: solid;
  border-width: 5px;
  /* border-color: rgb(69, 237, 57); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonAbilitiesContainer{
  display: flex;
  justify-content: center;
}

.pokemonAbilityContainer{
  border-radius: 5px; 
  border: solid;
  border-width: 1px;
  border-color: rgb(182, 238, 238);
}

.pokemonName {
  font-size: medium;
}

.pokemonAbilities {
  font-size: small;
}

.pokemonLevel{
    font-weight: bold;
    font-size: medium;
}

.constantLevel{
    font-weight: lighter;
    font-size: x-small;
    color: rgb(149, 223, 149);
}

.pokemonImage {
  width: 50px;
}
