.pokemon {
  font-size: medium;
}

.conatainer {
  border: solid;
  border-color: aliceblue;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.leftColumn {
  padding: 10px;
  flex: 1;
}

.rightColumn {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
  flex: 5;
}

.innerLeftColumn {
  flex: 3;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.innerRightColumn {
  align-content: center;
  flex: 1;
}

.circleDivision {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  border: solid;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonAbilitiesContainer{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.type{
  font-size: large;
}

.pokemonAbilityContainer{
  border-radius: 5px; 
  border: solid;
  border-width: 1px;
  border-color: rgb(182, 238, 238);
  padding: 5px;
}

.pokemonName {
  font-size: large;
  font-weight: bold;
}

.pokemonAbilities {
  font-size: small;
}

.pokemonLevel{
    font-weight: bold;
    font-size: medium;
}

.constantLevel{
    font-weight: lighter;
    font-size: x-small;
    color: rgb(149, 223, 149);
}

.pokemonImage {
  width: 60px;
}
